<div class="container">
  <div class="columns is-mobile">
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/mushroom'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/mushroom.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Mushroom Cup
          </p>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/flower'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/flower.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Flower Cup
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/star'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/star.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Star Cup
          </p>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/special'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/special.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Special Cup
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/egg'> 
          <figure class="img is-rounded">
            <img src="assets/CupLogos/egg.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Egg Cup
          </p>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/crossing'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/crossing.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Crossing Cup
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/shell'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/shell.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Shell Cup
          </p>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/banana'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/banana.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Banana Cup
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/leaf'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/leaf.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Leaf Cup
          </p>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/lightning'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/lightning.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Lightning Cup
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/triforce'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/triforce.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Triforce Cup
          </p>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <a routerLink='../result-submission/bell'>
          <figure class="img is-rounded">
            <img src="assets/CupLogos/bell.png">
          </figure>
          <p class="title is-6 has-text-centered">
            Bell Cup
          </p>
        </a>
      </div>
    </div>
  </div>
</div>