<div class="columns">
  <div class="column">
    <a routerLink="../grand-prix-submission">
      <div class="box">
        <figure class="image is-16x9">
          <img src="assets/grand-prix-logo.jpg">
        </figure>
        <p class="title has-text-centered">
          Submit Grand Prix Results
        </p>
      </div>
    </a>
  </div>
  <div class="column">
    <a routerLink="../result-submission/default">
      <div class="box">
        <figure class="image is-16x9">
          <img src="assets/vs-race-logo.jpg">
        </figure>
        <p class="title has-text-centered">
          Submit Vs Race Results
        </p>
      </div>
    </a>
  </div>
</div>